<div>
  <h1>Projeto Teste</h1>
  <div class="form">
    <div class="columns" *ngFor="let column of arrColumns">
      <span>Coluna {{ column }}</span>
      <div class="field" *ngFor="let field of arrFields; let i = index">
        <input
          [id]="column + '-' + i"
          type="text"
          class="bigger"
          placeholder="0,00"
          currencyMask
          [ngModel]="column + '-' + i"
          (ngModelChange)="showLog($event, column + '-' + i)"
          [options]="{ prefix: '', thousands: '.', decimal: ',' }"
        />
      </div>
      <span class="geral" *ngIf="column == 2">Geral</span>
    </div>

    <div class="columns">
      <span>Total</span>
      <div class="field" *ngFor="let field of totalValue; let i = index">
        <input
          [id]="column + '-' + i"
          class="bigger"
          type="number"
          disabled
          [value]="field"
          currencyMask
          [options]="{ prefix: 'R$', thousands: '.', decimal: ',' }"
        />
      </div>
      <div class="field total-geral">
        <input
          [id]="total - geral"
          class="bigger"
          type="number"
          disabled
          [value]="geralTotal"
          currencyMask
          [options]="{ prefix: 'R$', thousands: '.', decimal: ',' }"
        />
      </div>
    </div>
  </div>
</div>
